body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 22px;
    margin: 30px 0;
  }
  
  .row {
    margin-bottom: 15px;
  }
  
  .box {
    width: 150px;
    height: 150px;
    display: inline-block;
    opacity: 0.5;
  }
  
  .box + .box {
    margin-left: 10px;
  }
  
  #box_0 { background: url('photo_0.jpg'); }
  #box_1 { background: url('photo_1.jpg'); }
  #box_2 { background: url('photo_2.jpg'); }